<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify mail</title>
    <style>
        .card {
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: auto;
            text-align: center;
            border-radius: 10px;
        }
        a {
            text-decoration: none;
            color: rgb(189, 0, 0);
        }
        a:hover {
            opacity: 0.7;
        }
        .btn {
            border: none;
            border-radius: 3px;
            color: white;
            padding: 10px 24px;
            cursor: pointer;
            background-color: #E50914;
        }
        .btn:hover {
            background: #C00811;
        }

    </style>
</head>

<body>
    <div class="card">
        <img src="https://images.wallpaperscraft.com/image/planet_comet_space_163352_3840x2160.jpg" alt="John" style="width:100%; border-top-left-radius: 10px; border-top-right-radius: 10px">
        <h2>Kftv Enquiries.</h2>
        <p style="color: grey; font-size: 18px;">Dear admins, </p> <br>
        <p style="font-size: 10px;">You have an enquiry from <%=names%> with <%=email%>.</p>
        <p style="font-size: 10px;"><%=message%></p>
        <a href="https://www.cinetie.com/hello">Contact Us</a>
        <p style="color: rgb(148, 148, 148); padding: 5px;"> &copy; Cinetie 2020 All Rights Reserved </p>
    </div>
</body>

</html>